<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../../../assets/admin/img/logo-small.png">
        </div>

      </a>
      <a href="" class="simple-text logo-normal">
        EDUHUB
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a href="back">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="admin/listProduct">
            <i class="nc-icon nc-shop"></i>
            <p>Products</p>
          </a>
        </li>
        <li>
          <a href="admin/listCategory">
            <i class="nc-icon nc-bag-16"></i>
            <p>Category Product</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/project/list">
            <i class="nc-icon nc-bag-16"></i>
            <p>Projects</p>
          </a>
        </li>
        <li>
          <a href="/listUser">
            <i class="nc-icon nc-single-02"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li>
          <a href="/admin/listCourse">
            <i class="nc-icon nc-single-02"></i>
            <p>Course</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/quiz/quizList">
            <i class="nc-icon nc-single-02"></i>
            <p>Quiz</p>
          </a>
        </li>
        <li>
          <a routerLink="/admin/quiz/quizCategList">
            <i class="nc-icon nc-single-02"></i>
            <p>Category Quiz</p>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
