<div class="content">
<form #F="ngForm">
    <div class="form-group">
      <label for="questionText">Question</label>
      <input type="text" class="form-control" id="questionText" placeholder="Add question here">
    </div>
    <div class="form-group">
      <label for="maxMarks">MaxMarks</label>
      <input type="number" class="form-control" id="maxMarks" placeholder="0">
    </div>
    <div class="form-group">
      <label for="courseSelect">Course Select</label>
      <select class="form-control" id="courseSelect" 
      *ngFor="let c of listCourses , let i = index" >
        <option>{{ c.name }}</option>
        
      </select>
    </div>
    
    <div class="form-group">
                  <label>Quiz Category</label>
                  <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [matAutocomplete]="auto"
           (keyup.enter)="openDialog($event)">
                  <mat-autocomplete
                    class="form-control"
                    placeholder="Quiz Category"
                    formControlName="quizCategory"
                    id="quizCategory"
                    autoActiveFirstOption
                    #auto="matAutocomplete"
                    
                  >
                    <mat-option *ngFor="let opt of listCategories" >
                      {{ opt.title }}
                    </mat-option>
                  </mat-autocomplete>
                  <!-- <input type="text" list="categories" (keyup.enter)="openDialog($event)"/> -->
                  <datalist id="categories">
                    <option *ngFor="let opt of listCategories" [ngValue]="opt">
                      {{ opt.title }}
                    </option>
                  </datalist>

                </div>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
</div>