<div class="container">
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Project Name
  
        </th>
        <th class="th-sm">Course
  
        </th>
        <th class="th-sm">Teacher
  
        </th>
        <th class="th-sm">Available <!-- If the project is available for the student to enroll in or not-->
  
        </th>
       
      </tr>
    </thead>
    <tbody>
      
    </tbody>
    <tfoot>
      <tr>
        <th>Project Name
        </th>
        <th>Course
        </th>
        <th>Teacher
        </th>
        <th>Available
        </th>
      </tr>
    </tfoot>
  </table>
</div>