<!-- section-header.// -->

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Shopping cart</h2>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <main class="col-md-9">
        <div *ngIf="cartItems.length > 0" class="card">
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" class="text-right" width="200"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cartItem of cartItems ">
                <td>
                  <figure class="itemside">
                    <div class="aside">
                      <img
                        src="{{this.productService.baseUrl+'/Imgarticle/'+product.id}}"
                        class="img-sm"
                      />
                    </div>
                    <figcaption class="info">
                      <a href="#" class="title text-dark"
                        >{{cartItem.name}}</a
                      >
                    </figcaption>
                  </figure>
                </td>
                <td class="cart_quantity">
                    <div class="cart_quantity_button">
                        <button (click)="incrementQuantity(cartItem)" class="cart_quantity_up" > + </button>
                        <input class="cart_quantity_input" [style]="{'background-color':'white'}" type="submit" name="quantity" value="{{cartItem.quantity}}" autocomplete="off" size="2">
                        <button (click)="decrementQuantity(cartItem)" class="cart_quantity_down"> - </button>
                    </div>
                </td>
                <td>
                  <div class="price-wrap">
                    <var class="price">{{cartItem.prix * cartItem.quantity}} TND</var>
                    <small class="text-muted"> {{cartItem.prix}} TND each </small>
                  </div>
                  <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                  <a
                    data-original-title="Save to Wishlist"
                    title=""
                    href=""
                    class="btn btn-light mr-2"
                    data-toggle="tooltip"
                  >
                    <i class="fa fa-heart"></i
                  ></a>
                  <a (click)="remove(cartItem)" [style]="{'background-color':'red'}" class="btn btn-light"> Remove</a>
                </td>
              </tr>

            </tbody>
          </table>
          

          <div class="card-body border-top">
            <a href="#" class="btn btn-primary float-md-right">
              Make Purchase <i class="fa fa-chevron-right"></i>
            </a>
            <a routerLink="shop" class="btn btn-light">
              <i class="fa fa-chevron-left"></i> Continue shopping
            </a>
          </div>
        </div>
        <!-- card.// -->

        <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
            Your shopping cart is empty. 
        </div>
      </main>
      <!-- col.// -->
      <aside *ngFor="let cartItem of cartItems " class="col-md-3">

        <!-- card .// -->
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">{{cartItem.quantity * cartItem.prix}} </dd>
            </dl>
            <dl class="dlist-align">
              <dt>Discount:</dt>
              <dd class="text-right">USD 658</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right h5"><strong>$1,650</strong></dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img
                src="../../../../assets/cart/images/misc/payments.png"
                height="26"
              />
            </p>
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card .// -->
      </aside>
      <!-- col.// -->
    </div>
   
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name bg padding-y">
  <div class="container">
    <h6>Payment and refund policy</h6>
    <p>
      When making an online purchase, it's important to understand the payment
      and refund policies of the seller or website. Payment options can include
      credit cards, PayPal, or other payment methods, but it's important to
      ensure that the payment process is secure and that your personal and
      financial information is protected. Refund policies may vary depending on
      the seller, but it's common for online purchases to have a return period
      of 30 days or more. It's important to read the terms and conditions
      carefully before making a purchase to understand the refund policy,
      including any restocking fees or return shipping costs that may be
      deducted from your refund. If you have any questions or concerns about
      payment or refund policies, it's recommended to contact the seller or
      website customer service before making a purchase.
    </p>
  </div>
  <!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
  <div class="container">
    <p class="float-md-right">&copy; Copyright 2021 All rights reserved</p>
    <p>
      <a href="#">Terms and conditions</a>
    </p>
  </div>
  <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
