
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title" style="margin-left: 40%; font-size:xx-large; color: coral;"> Category List</h4>
              </div>
              
              <button type="button" routerLink="/admin/addCategory" class="btn btn-outline-success" >Add Category</button>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      
                      <th>
                        Update
                      </th>
                      <th>
                        Delete
                      </th>

                    </thead>
                    <tbody>
                      <tr *ngFor="let list of listCategory">
                        <td>
                          {{list.name}}
                        </td>
                        
                        <td>
                            <button type="button" routerLink="/updateCategory"  class="btn btn-outline-warning">Update</button>
                        </td>
                        <td>
                            <button type="button" routerLink="/deleteCategory" (click)="remove(list.id)" class="btn btn-outline-danger">Remove</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    