
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title" style="margin-left: 40%; font-size:xx-large; color: coral;"> Product List</h4>
              </div>

              <button type="button" routerLink="/add" class="btn btn-outline-success">Add Product</button>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        First Name
                      </th>
                      <th>
                        Last Name
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Phone
                      </th>

                      <th>
                        Address
                      </th>
                      <th>
                        Role
                      </th>
                      <th>
                        Delete
                      </th>

                    </thead>
                    <tbody>
                      <tr *ngFor="let list of usersList | paginate: { itemsPerPage: 3, currentPage: p }">
                        <td>
                          {{list.fname}}
                        </td>
                        <td>
                          {{list.lname}}
                        </td>
                        <td>
                          {{list.email}} 
                        </td>
                        <td>
                          {{list.phone}}
                        </td>
                        <td>
                         {{list.adress}}
                        </td>
                        <td>
                            {{list.role}}
                           </td>
                        <td>
                          <button type="button"
                            class="btn btn-outline-warning">Danger</button>
                        </td>
                        <td>
                          <button type="button" (click)="onDelete(list)" class="btn btn-outline-danger">Warning</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls previousLabel="Prev"   nextLabel="Next" [responsive]="true"
                    (pageChange)=" p = $event ">
                  </pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    