<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4
            class="card-title"
            style="margin-left: 40%; font-size: xx-large; color: coral"
          >
            Product List
          </h4>
        </div>

        <button
          type="button"
          routerLink="/admin/product/add"
          class="btn btn-outline-success"
        >
          Add Product
        </button>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Name</th>
                <th>Unit Price</th>

                <th>Quantity</th>

                <th>image</th>
                <th>Update</th>
                <th>Delete</th>
              </thead>
              <tbody id="myTable2">
                <tr
                  *ngFor="
                    let list of productList
                      | paginate : { itemsPerPage: 6, currentPage: p }
                  "
                >
                  <td>
                    {{ list.name }}
                  </td>
                  <td>{{ list.prix }} TND</td>

                  <td>
                    {{ list.quantity }}
                  </td>
                  <td>
                    <img
                      src="{{
                        this.productService.baseUrl + '/Imgarticle/' + list.id
                      }}"
                      height="70px"
                      width="60px"
                    />
                  </td>
                  <td>
                    <button
                      type="button"
                      routerLink="/admin/updateProduct/{{ list.id }}"
                      class="btn btn-outline-warning"
                    >
                      Update
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      (click)="onDelete(list)"
                      class="btn btn-outline-danger"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              [responsive]="true"
              (pageChange)="p = $event"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
